@media all
{body{
direction: rtl;
background-color: #D4D4D4;
line-height: 2;
font-family: 'CustomArabicFont', 'Traditional Arabic', Tahoma, sans-serif;
text-align: center;
font-size: 18px;
}
hr {clear:both; color: #221122;}
p {margin: 0px;}
.title {color: #800000;}
.footnote, .PageHead {font: 14pt bold "Simplified Arabic"; color: #464646;}
.PageHead {font-style: italic;
font-size: 12px;}
.PartName {float:right;}
.PageNumber {float:left;
}
.Main {text-align:right; margin-top: 50px; max-width: 780px;}
.PageText{
padding: 20px;
text-align: justify;
background-color: #fefbe7;
margin-top: 20px;
padding: 20px 20px 40px 20px;
border: solid 1px gray;
border-right-width: 4px;
border-bottom-width: 4px;
}
Table
{
background-color: #800000;
width: 90%;
}
TD {background-color: #fefbe7; padding: 0px 10px 0px 10px; vertical-align:middle;} 
TH {background-color: #e3e1cf; padding: 0px 10px 0px 10px; text-align:center; vertical-align:middle;}
}
@media print
{
.Main {width:650px;
    }
.PageText{
page-break-before:always;
border-width:0px;
margin:0px;
padding:1px;
}
}

.highlight {
            background-color: yellow;
            border-radius: 5px;
            padding: 5px;
        }
        .pencarian {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3080f7;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
}
.pencarian input[type="text"] {
    flex: 1; /* Input akan mengambil ruang yang tersisa */
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}
.pencarian button {
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #3080f7;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
}
.pencarian button:hover {
    background-color: #3080f7;
    color: #ffffff;
}

/* Media query untuk layar dengan lebar maksimum 600px */
@media (max-width: 600px) {
    .pencarian {
        padding: 5px;
    }

    .pencarian input[type="text"] {
        margin-right: 5px;
        font-size: 14px;
    }

    .pencarian button {
        padding: 8px 10px;
        font-size: 14px;
        margin: 0 3px;
    }
}
